.checkers {
  text-align: center;
  font-family: Arial, sans-serif;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.board {
  display: inline-block;
}

.row {
  display: flex;
}

.square {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #fff;
  cursor: pointer;
  @media(min-width:700px) {
    width: 60px;    
    height: 60px;
  }
}

.square.white {
  background-color: #fff;

  &>.piece {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #f9e800;
    box-shadow:
      5px 5px 10px rgba(0, 0, 0, 0.5),
      -5px -5px 10px rgba(255, 255, 255, 0.5);
  }
}

.square.black {
  align-items: center;

  &>.piece {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #000000;
    box-shadow:
      5px 5px 10px rgba(0, 0, 0, 0.5),
      -5px -5px 10px rgba(255, 255, 255, 0.5);
   
  }
 
}

.square.kingBlack {
  &>div {
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background-color: #060604;
    box-shadow:
      5px 5px 10px rgba(0, 0, 0, 0.5),
      -5px -5px 10px rgba(255, 255, 255, 0.5);
  }
}

.square.kingWhite {
  &>div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #dffd02;
    box-shadow:
      5px 5px 10px rgba(0, 0, 0, 0.5),
      -5px -5px 10px rgba(255, 255, 255, 0.5);
  }
}

.message {
  margin-top: 1rem;
  font-weight: bold;
}

p {
  margin-top: 1rem;
  font-weight: bold;
}

/* Highlight selected piece */
.square.selected {
  border: 2px solid #00f;
}

/* Style for kings (you can customize this further) */
.king {
  background-color: #f00;
  border: 2px solid #333;
}

/* Style for captured pieces */
.captured {
  display: none;
}

/* Clear floats for board rows */
.row::after {
  content: '';
  clear: both;
  display: table;
}

.playAgain{
  background-color: rgb(253, 98, 98);
  padding: 10px;
  border-radius: 5px;
  box-shadow:
  5px 5px 10px rgba(0, 0, 0, 0.5),
  -5px -5px 10px rgba(255, 255, 255, 0.5);

  &:hover{
    cursor: pointer;
    background-color: #dffd02;
  }
}

.result{
  font-size: xx-large;
}