.loadingContainer {
    padding: 10px;
    color: #fe0303;
    font-size: 20px;
    word-wrap: break-word;

}

#loadingroom_id {
    background-color: rgba(118, 232, 169, 0.5);;
    border-radius: 5px;
    padding: 5px;
    
    color: #ebfc01;
    font-size: 3rem;
    &:hover{
        cursor: pointer;
        background-color: #3ef183;
    }
    &>div {
        &>p {
            background-color: aliceblue;
            padding: 15px;
            border-radius: 5px;
            width: fit-content;
            cursor: pointer;
        }
    }

}



#loadingroom_idcontainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}