.logReg{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://images.unsplash.com/photo-1629760946220-5693ee4c46ac?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');

}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    &>div{
        background-color: aliceblue;
        border-radius: 5px;
    }
}
.formItems{
    display: flex;
    padding: 4px;
    gap: 2px;
    border: 2px solid gray;
    border-radius: 5px;
}
.logRegFromField{
    width: 200px;
    border: 0px;
    padding: 3px;
    border-left: 1px solid gray;
    outline: none;
}
.formItemsButtons{
    font-size: 1.2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: initial !important;
}


.isRegLogButton{
    width: 100px;
    background-color: rgb(38, 38, 224);
    border: 0px solid white;
    padding: 10px;
    border-radius: 4px;
    color: white;
}

.isRegLogButton:hover{
    cursor: pointer;
    background-color: #241d84;
}

.isRegLogClick{
    display: flex;
    align-items: center;
}

.isRegLogClick:hover{
    cursor: pointer;
}

.resetPassword{
    cursor: pointer;
    color: blue;
}