.TicTacToeMultiPlayerConfig{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);    
    align-items: center;
    justify-content: center;
    background-image: url(  "https://media.istockphoto.com/id/91227309/photo/crosses-and-noughts-game.jpg?s=1024x1024&w=is&k=20&c=aPxTPMOoIov7CqZsTWHnw19TmdJwG-RjdLXLs-heQRE=");
    gap:20px;
    
    &>button{
        width: 130px;
        height: 3rem;
        padding:4px;
        border:none;
        color: white;
        border-radius:  4px;
        background-color: rgb(65, 5, 56);

        &:hover{
            cursor: pointer;
            background-color: blueviolet;
        }
    }
   
}
.joinRoom{
    display: flex;

    &>button{
        width: 130px;
        height: 3rem;
        padding:4px;
        border:none;
        color: white;
        border-radius:  0px 4px 4px 0px;
        background-color: rgb(76, 7, 141);

        &:hover{
            cursor: pointer;
            background-color: blueviolet;
        }
    }
    &>input {
        width: 300px;
    }

}
.tictactoeroomidimput{
    height: 3rem;
    font-size: 2.5rem;
    padding:4px;
    border:none;
    border-radius:  4px 0px 0px 4px;
    
}